<footer>
<p>
Hecho con amor por Derlys Dominguez
  </p>
<p>
  Nuestras redes sociales
</p>
<a href="https://api.whatsapp.com/send?phone=573054548521" target="_blank">
<img src="/images/whatsapp.png" width="80px">
</a>
<a href="https://www.instagram.com/lavanderia_ahl/" target="_blank">
<img src="/images/instagram.png" width="80px">
</a>
</footer>
