<header>
  <img src= "/images/logo_tu_lavanderia.png" width="100%">
  <ul class="nav">
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/about">Nosotros</a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>

